@charset "utf-8";

/**
 * Stylesheet Index:
 * =================
 *
 * 0. Elements
 * 1. ID & Class
 * 2. Pseudoclass
 * 3. Media Queries
 */

/* 0. Elements */
* {
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}
html {
  font-size:          16px;
  width:              100%;
  height:             100%;
}
body {
  color:              #eee;
  width:              100%;
  height:             100%;
  margin:             0;
  padding:            0;
  min-width:          320px;
  background:         #1f252b;
  font-family:        Roboto, Sans-serif;
  text-align:         center;
  -webkit-transform:  translateZ(0);
  transform:          translateZ(0);
}
header {
  padding: 8rem 0 4rem;
}

/* 1. ID & Class */
#logo {
  width:              12rem;
  height:             12rem;
  margin:             2rem auto;
}
.wordmark {
  font-weight:        bold;
  font-family:        "Unica One", Roboto, sans-serif;
}
.brand.title {
  margin:             0 auto;
  font-size:          4rem;
  font-family:        "Unica One", Roboto, sans-serif;
}
.brand.subtitle {
  margin:             0 auto;
  font-size:          2rem;
  font-weight:        400;
  font-family:        "Alegreya Sans", Roboto, sans-serif;
}
.banner {
  color:              #1f252b;
  padding:            2rem;
  background:         linear-gradient(to right, rgba(240,240,240,0) 0%,rgba(240,240,240,0.75) 40%,rgba(240,240,240,0.75) 60%,rgba(240,240,240,0) 100%);
  border:             dashed #1f252b;
  border-width:       2px 0;
}
.banner .notice {
  margin:             0 auto;
  width:              60rem;
  font-size:          1.25rem;
}

.feature {
  margin:             4rem auto;
  width:              60rem;
}
.feature h1 {
  font-size:          3rem;
  font-weight:        normal;
  font-family:        "Unica One", sans-serif;
}
.feature .entry {
  margin:             4rem auto;
  display:            flex;
  align-items:        center;
  justify-content:    center;
}
.feature .sigil {
  flex:               1 0 30%;
  line-height:        1;
  font-size:          2.5rem;
  font-family:        "Alegreya Sans", sans-serif;
}
.feature .details {
  flex:               1 1 auto;
  font-size:          1.5rem;
  line-height:        1.5;
  font-family:        "Alegreya Sans", sans-serif;
}
.feature .sigil strong {
  display:            block;
}


/* 2. Pseudoclass */
.feature .entry:nth-child(odd) .sigil {
  text-align:         left;
  padding-left:       2rem;
}
.feature .entry:nth-child(odd) .details {
  text-align:         right;
  padding-right:      2rem;
}
.feature .entry:nth-child(even) .sigil {
  text-align:         right;
  padding-right:      2rem;
}
.feature .entry:nth-child(even) .details {
  text-align:         left;
  padding-left:       2rem;
}


/* 3. Media Queries */
@media screen and (max-width: 960px) {
}
@media screen and (max-width: 640px) {
}
@media screen and (max-height: 480px) {
}
@media screen and (max-height: 240px) {
}
@media screen and (orientation: portrait) {
}
